.navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem /* 24px */;
  background-color: #f9fafb;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.05), 0 1px 2px -1px rgb(0 0 0 / 0.05);
}

.navbar a {
  font-size: 0.875rem /* 14px */;
  line-height: 1.5rem /* 24px */;
  font-weight: 600;
  color: #e11d48;
}

.navbar a:hover {
  color: #f43f5e;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logout-btn {
  display: flex;
  width: 100%;
  color: #ffffff;
  background-color: #030712;
  justify-content: center;
  border-radius: 0.375rem; /* 6px */
  padding: 0.375rem 0.75rem; /* 6px 12px */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 24px */
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #1f2937;
}

.logout-btn:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: #070d1d;
}

.add-list-btn {
  display: flex;
  width: 100%;
  color: #ffffff !important;
  background-color: #e11d48;
  justify-content: center;
  border-radius: 0.375rem; /* 6px */
  padding: 0.375rem 0.75rem; /* 6px 12px */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 24px */
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border: none;
  text-decoration: none;
}

.add-list-btn:hover {
  background-color: #f43f5e;
  cursor: pointer;
}

.add-list-btn:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: #e11d48;
}
